/* geral */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left !important;
}

.margin {
    margin: 0 0.3em;
}

.margin-left-zero {
    margin-left: 0 !important;
}

.margin-bottom-zero {
    margin-bottom: 0 !important;
}

.margin-top-zero {
    margin-top: 0 !important;
}
.margin-right-zero {
    margin-right: 0 !important;
}

/* fim geral */
body {
    padding: 1em 0;
}
.contadores {
    width: 100%;
    margin: 0;
}

.contadores li {
    height: 25px;
    display: inline-flex;
    vertical-align: top;
    font-weight: 600;
}

.frase {
    font-size: 20px;
}

.tempo-de-digitacao {
    font-weight: 600;
    color: darkred;
}

.disabled {
    pointer-events: inherit !important;
    cursor: not-allowed !important;
}

.borda-vermelha {
    border-bottom: 1px solid #ef5350 !important;
    -webkit-box-shadow: 0 1px 0 0 #ef5350 !important;
    box-shadow: 0 1px 0 0 #ef5350 !important;
}